<div class="row" style="margin: 0;padding: 0">
    <div class="map-item" style="margin: 0;padding: 0">
        <div class="map-item__gallery">
            <img class="map-item__image pointer" src="//imgcy.trivago.com/c_fill,d_dummy.jpeg,f_auto,h_180,q_auto:eco,w_180/itemimages/20/42/2042919_v3.jpeg" data-actions="openGallery">
        </div>
        <div class="map-item__info">
            <h5 dir="auto" class="map-item__name" title="Mağaza Adı">MAĞAZA ADI</h5>
            <div class="map-item__stars inline-block clearfix is-hidden"></div>
            <span class="map-item__type">Oda Kahvaltı</span>
            <div class="map-item__rat">
                <div class="rating-box rating-box--color-3">
                    <span itemprop="ratingValue" class="rating-box__value">7.6</span>
                </div>
                <span class="map-item__rat-overall map-item__rat-count">
							<strong>İyi</strong>
							<span> (39 değerlendirme)</span>
						</span>
            </div>
        </div>
        <div class="map-item__callout inline-block fl-trailing">
            <div class="map-item__deal fl-leading js_co_link">
                {#<span class="map-item__deal-partner font-trv-maincolor-04-light">Hotels.com</span>#}
                {#<span class="map-item__deal-min fw-bold">131 TL</span>#}
            </div>
            <button class="map-btn__deal js_co_link">
                <span class="label label__view">Göster</span>
                <span class="icon-ic map-btn__deal-ic inline-block icon-rtl fill-white">
                    <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="5" height="9" viewBox="0 0 5 9">
                        <path class="svg-color--primary" fill="#FFF" d="M1.444.245c.307.316 3.31 3.643 3.31 3.643.164.17.246.39.246.612 0 .222-.082.443-.246.61 0 0-3.003 3.328-3.31 3.645-.307.316-.86.338-1.188 0-.328-.337-.354-.81 0-1.223L3.01 4.5.257 1.468c-.354-.414-.328-.885 0-1.223.328-.337.88-.316 1.188 0z"></path>
                    </svg>
                </span>
            </button>
        </div>
    </div>
    <div></div>
</div>















