<aside>
    <div class="sidebar-modern-inner">
        <div class="block-title has-arrow sidebar-header">
            <h5><a href="#">All Categories</a></h5>
        </div>
        <div class="block-content categories-list  list-filter ">
            <ul class=" list-unstyled">
                <li><a href="sub-category-sub-location.html"><span class="title">Electronics</span><span class="count">&nbsp;8626</span></a>
                </li>
                <li><a href="sub-category-sub-location.html"><span class="title">Automobiles </span><span class="count">&nbsp;123</span></a></li>
                <li><a href="sub-category-sub-location.html"><span class="title">Property </span><span class="count">&nbsp;742</span></a></li>
                <li><a href="sub-category-sub-location.html"><span class="title">Services </span><span class="count">&nbsp;8525</span></a></li>
                <li><a href="sub-category-sub-location.html"><span class="title">For Sale </span><span class="count">&nbsp;357</span></a></li>
                <li><a href="sub-category-sub-location.html"><span class="title">Learning </span><span class="count">&nbsp;3576</span></a></li>
                <li><a href="sub-category-sub-location.html"><span class="title">Jobs </span><span class="count">&nbsp;453</span></a></li>
                <li><a href="sub-category-sub-location.html"><span class="title">Cars &amp; Vehicles</span><span class="count">&nbsp;801</span></a>
                </li>
                <li><a href="sub-category-sub-location.html"><span class="title">Other</span><span class="count">&nbsp;9803</span></a></li>
            </ul>
        </div>
        <!--/.categories-list-->

        <div class="block-title has-arrow ">
            <h5><a href="#">Location</a></h5>
        </div>
        <div class="block-content locations-list  list-filter ">
            <ul class="browse-list list-unstyled long-list">
                <li><a href="sub-category-sub-location.html"> Atlanta </a></li>
                <li><a href="sub-category-sub-location.html"> Wichita </a></li>
                <li><a href="sub-category-sub-location.html"> Anchorage </a></li>
                <li><a href="sub-category-sub-location.html"> Dallas </a></li>
                <li><a href="sub-category-sub-location.html">New York </a></li>
                <li><a href="sub-category-sub-location.html"> Santa Ana/Anaheim </a></li>
                <li><a href="sub-category-sub-location.html"> Miami </a></li>
                <li><a href="sub-category-sub-location.html"> Virginia Beach </a></li>
                <li><a href="sub-category-sub-location.html"> San Diego </a></li>
                <li><a href="sub-category-sub-location.html"> Boston </a></li>
                <li><a href="sub-category-sub-location.html"> Houston </a></li>
                <li><a href="sub-category-sub-location.html">Salt Lake City </a></li>
                <li><a href="sub-category-sub-location.html"> Other Locations </a></li>
            </ul>
        </div>
        <!--/.locations-list-->

        <div class="block-title has-arrow">
            <h5><a href="#">Price range</a></h5>
        </div>
        <div class="block-content categories-list  list-filter ">

            <form role="form" class="form-inline ">
                <div class="form-group col-lg-4 col-md-12 no-padding">
                    <input type="text" placeholder="$ 2000 " id="minPrice" class="form-control">
                </div>
                <div class="form-group col-lg-1 col-md-12 no-padding text-center hidden-md"> -</div>
                <div class="form-group col-lg-4 col-md-12 no-padding">
                    <input type="text" placeholder="$ 3000 " id="maxPrice" class="form-control">
                </div>
                <div class="form-group col-lg-3 col-md-12 no-padding">
                    <button class="btn btn-default pull-right btn-block-md" type="submit">GO
                    </button>
                </div>
            </form>
            <div style="clear:both"></div>
        </div>
        <!--/.list-filter-->
        <div class="block-title has-arrow">
            <h5><a href="#">Seller </a></h5>
        </div>
        <div class="block-content categories-list  list-filter ">
            <ul class="browse-list list-unstyled ">
                <li><a href="sub-category-sub-location.html"><strong>All Ads</strong> <span class="count">228,705</span></a></li>
                <li><a href="sub-category-sub-location.html">Business <span class="count">28,705</span></a></li>
                <li><a href="sub-category-sub-location.html">Private <span class="count">18,705</span></a></li>
            </ul>
        </div>
        <!--/.list-filter-->

        <div class="block-title has-arrow">
            <h5><a href="#">Condition</a></h5>
        </div>
        <div class="block-content categories-list  list-filter ">
            <ul class="browse-list list-unstyled ">
                <li><a href="sub-category-sub-location.html">New <span class="count">228,705</span></a>
                </li>
                <li><a href="sub-category-sub-location.html">Used <span class="count">28,705</span></a>
                </li>
                <li><a href="sub-category-sub-location.html">None </a></li>
            </ul>
        </div>
        <!--/.list-filter-->
        <div style="clear:both"></div>
    </div>

    <!--/.categories-list-->
</aside>