<aside>
    <div class="sidebar-modern-inner">
        <div class="block-title has-arrow sidebar-header">
            <h5><a href="#">Tüm Kategoriler</a></h5>
        </div>
        <div class="block-content categories-list  list-filter ">
            <ul class=" list-unstyled">
                {% for category in allCategories %}
                    <li>
                        <a href="{{ path('category_list',{'slug': category.categorySlug}) }}">
                            <span class="title">{{ category.categoryName }}</span>
                            <span class="count">&nbsp;{{ category.products | length }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!--/.categories-list-->

        <div class="block-title has-arrow">
            <h5><a href="#">Fiyat Aralığı</a></h5>
        </div>
        <div class="block-content categories-list  list-filter ">

            <div class="form-inline">
                <div class="form-group col-lg-4 col-md-12 no-padding">
                    <input type="text" placeholder="$ 2000 " id="minPrice" class="form-control">
                </div>
                <div class="form-group col-lg-1 col-md-12 no-padding text-center hidden-md">  ~ </div>
                <div class="form-group col-lg-4 col-md-12 no-padding">
                    <input type="text" placeholder="$ 3000 " id="maxPrice" class="form-control">
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
        <!--/.list-filter-->
        <div class="block-title has-arrow">
            <h5><a href="#">Satıcılar </a></h5>
        </div>
        <div class="block-content categories-list  list-filter ">
            <ul class="browse-list list-unstyled ">
                {% for seller in allSellers %}
                    <li><a href="sub-category-sub-location.html">{{ seller.name }} <span class="count">18,705</span></a></li>
                {% endfor %}
            </ul>
        </div>
        <!--/.list-filter-->
        <div style="clear:both"></div>

        <div class="block">
            <button type="submit" class="btn btn-default btn-lg" style="width: 100%;border-radius: 0;border-left: 0;border-right: 0;background-color: #00a184;color: white;"> Ara </button>
        </div>
    </div>

    <!--/.categories-list-->
</aside>